body {
  font-family: Arial, 'Sans Serif';
  background: #242424;
  color: #e5e5e5;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  color: #ffb574;
  font-size: 2rem;
  padding-top: 2rem;
  margin-top: 0;
}

h2 {
  color: #ffca50;
  font-size: 1.5rem;
  padding-top: 2rem;
  margin-top: 0;
}

h3 {
  color: inherit;
  padding-top: 1rem;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

h4 {
  color: #fafafa;
  padding-top: 1rem;
}

a {
  display: block;
  color: #a1fd8b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.6rem;
  margin: 0 0 2rem;
}

ul {
  margin: 0;
}

nav > ul {
  margin-bottom: 1.5rem;
}

ul + p {
  margin-top: 1.5rem;
}

li {
  line-height: 1.8rem;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.4rem;
  font-size: 0.7rem;
}

main {
  max-width: 600px;
  padding: 0 1rem;
  margin: auto;
}

section {
  margin-bottom: 3rem;
}

figure {
  margin: 0 0 2rem 2rem;
}

figcaption {
  font-size: 0.8rem;
  margin-top: 0.7rem;
  opacity: 0.7;
}

.flex-responsive {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .flex-responsive {
    display: block;
  }
  .flex-responsive figure {
    margin-left: 0;
  }
  .flex-responsive canvas {
    width: 100%;
  }
}

canvas {
  background: #222;
}

small {
  display: block;
  margin-top: 0.8rem;
  opacity: 0.7;
}

footer {
  width: 100%;
  margin-top: 4rem;
  padding: 1rem 0;
  background: #1f1f1f;
}

footer > nav {
  max-width: 600px;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
}

footer a {
  margin-right: 3rem;
}
