body {
  font-family: Arial, 'Sans Serif';
  background: #242424;
  color: #e5e5e5;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  color: #a1fd8b;
  font-size: 2rem;
  padding-top: 2rem;
}

h2 {
  color: #ffca50;
  font-size: 1.5rem;
  padding-top: 2rem;
}

h3 {
  color: inherit;
  padding-top: 1rem;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

h4 {
  color: #fafafa;
  padding-top: 1rem;
}

a {
  display: block;
  color: inherit;
}

p {
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

ul {
  margin: 0;
}

nav > ul {
  margin-bottom: 2rem;
}

li {
  line-height: 1.8rem;
}

article {
  max-width: 600px;
  padding: 0 1rem;
  margin: auto;
}

section {
  margin-bottom: 3rem;
}

figure {
  margin: 0 auto 2rem;
}

figure:last-child {
  margin-bottom: 0;
}

figcaption {
  font-size: 0.8rem;
  margin-top: 0.8rem;
  opacity: 0.7;
}

.flex-responsive {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .flex-responsive {
    display: block;
  }
}

canvas {
  background: #222;
}

small {
  display: block;
  margin-top: 0.8rem;
  opacity: 0.7;
}

footer {
  margin-top: 4rem;
}
